@charset "UTF-8";

body{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.189);
    font-size: 2.2em;
}

div{
    background-color: #ff0a91;
    display: inline-block;
    width: 12em;
    height: 12em;
    margin: 2px 10px;
    color: whitesmoke;
    line-height: 12em;
}

p{
    font-size: 20px;
    margin: 0px;
}